@font-face {
  font-family: 'HaniArb-Regular';
  src: url('HaniArb-Regular.eot');
  src: url('HaniArb-Regular.eot?#iefix') format('embedded-opentype'),
       url('HaniArb-Regular.svg#HaniArb-Regular') format('svg'),
       url('HaniArb-Regular.ttf') format('truetype'),
       url('HaniArb-Regular.woff') format('woff'),
       url('HaniArb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

